* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'KarlaRegular';
  color: #262626;
}

.sectioncontainer{
  padding: 5rem 20% 5rem 20%;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem 20% 3rem 20%;
}

.display-title {
  font-family: 'MarkaziText';
  font-size: 64pt;
  margin: 0;
}

.sub-title {
  font-family: 'MarkaziText';
  font-size: 40pt;
  margin: 0;
}

.lead-text {
  font-family: 'KarlaRegular';
  font-size: 18pt;
  max-width: 65ch;
}

.section-title {
  font-family: 'MarkaziText';
  font-size: 40pt;
}

.section-title-center {
  text-align: center;
}

.section-categories {
  font-family: 'KarlaExtraBold';
  font-size: 16pt;
}

.card-title {
  font-family: 'KarlaBold';
  font-size: 18pt;
  font-weight: bold;
  padding-left: 20px;
}

.special-title {
  font-family: 'MarkaziText';
  font-size: 24pt;
  font-weight: bold;
  padding-left: 20px;
}

p {
  font-family: 'KarlaRegular';
  font-size: 16pt;
  line-height: 1.5;
  max-width: 65ch;
}

.highlight {
  font-family: 'KarlaMedium';
  font-size: 16pt;
}

a {
  font-family: 'KarlaBold';
  font-size: 16pt;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem 20% 3rem 20%;
}

.footer-nav-list {
  list-style: none;
  font-family: 'KarlaRegular';
  font-size: 16pt;
  line-height: 1.5;
  max-width: 65ch;
}

.footer-nav-list > li > a {
  font-family: 'KarlaRegular';
  font-size: 16pt;
  line-height: 1.5;
  max-width: 65ch;
}

#footer-logo {
  max-width: 40%;
  height: auto;
  padding-bottom: 20px;
  padding-right: 20px;
}

.social-icon {
  max-width: 12%;
  padding-top: 8px;
  padding-right: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


.row-spaced {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.column {
  flex: 1;
}

.column15 {
  flex: 1.5;
}

.column-right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: right;
  align-items: center;
  flex: 1;
}

.price {
  font-weight: bold;
  text-align: right;
  padding-right: 20px;
}

.boxed-text {
  padding: 20px;
}

.text-left {
  padding: 20px 20px 20px 0;
}

.order-link {
  padding-left: 20px;
}

.bg-green {
  background: #495E57;
}

.bg-gray {
  background: #EDEFEE;
}

.bg-white {
  background: white;
}

.text-color-dark {
  color: black;
}

.text-color-primary {
  color: #495E57;
}

.text-color-primary-yellow {
  color: #F4CE14;
}

.text-color-secondary {
  color: #EE9972
}

.text-color-light {
  color: white;
}

header nav li {
  display: inline-block;
  padding: 20px 10px 20px 10px;
  margin: 0;
}

.buttonprimary {
  padding: 24px 64px;
  border-radius: 16px;
  color: black;
  background-color: #F4CE14;
  border: none;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0 20px 0;
}

#flag-image {
  width: 80%;
  height: auto;
  border-radius: 16px;
}

.specialscard {
  flex: 1;
  background-color: #EDEFEE;
  margin: 60px 20px 60px 20px;
  border-radius: 16px;
  padding-bottom: 20px;
  min-height: 600px;
}

.specials-image {
  width: 100%;
  height: auto;
  border-radius: 16px 16px 0 0;
  margin-bottom: 20px;
}

.customers-card {
  flex: 1;
  background-color: white;
  margin: 60px 20px 60px 20px;
}

.customer-image {
  max-width: 80%;
  height: auto;
  padding: 20px 20px 0 20px;
}

.column-cust-image {
  flex: 1;
}

.column-cust-info {
  flex: 2;
}

.cust-info-text {
  padding: 5px 20px 5px 20px;
}

.chic-image {
  width: 100%;
  height: auto;
  padding: 20px;
}


